面向服务的软件工程/assignment-two/archive-service/src/main/resources/ArchiveService.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://archive.soa.software.nju.edu.cn/"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:ns1="http://archive.soa.software.nju.edu.cn/schema/"
        targetNamespace="http://archive.soa.software.nju.edu.cn/"
        name="ArchiveService">

    <types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://archive.soa.software.nju.edu.cn/schema/" schemaLocation="ArchiveService.xsd"/>
        </xs:schema>
    </types>

    <message name="queryRequest">
        <part name="queryRequest" type="ns1:QueryRequest"/>
    </message>

    <message name="queryResponse">
        <part name="parameters" type="ns1:QueryResponse"/>
    </message>

    <message name="addRequest">
        <part name="addRequest" type="ns1:AddRequest"/>
    </message>

    <message name="addResponse">
        <part name="parameters" type="ns1:AddResponse"/>
    </message>

    <message name="updateRequest">
        <part name="updateRequest" type="ns1:UpdateRequest"/>
    </message>

    <message name="updateResponse">
        <part name="parameters" type="ns1:UpdateResponse"/>
    </message>

    <message name="deleteRequest">
        <part name="deleteRequest" type="ns1:DeleteRequest"/>
    </message>

    <message name="deleteResponse">
        <part name="parameters" type="ns1:DeleteResponse"/>
    </message>

    <portType name="ArchiveService">
        <operation name="query">
            <input wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/queryRequest"
                   message="tns:queryRequest"/>
            <output wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/queryResponse"
                    message="tns:queryResponse"/>
        </operation>

        <operation name="add">
            <input wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/addRequest"
                   message="tns:addRequest"/>
            <output wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/addResponse"
                    message="tns:addResponse"/>
        </operation>

        <operation name="update">
            <input wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/updateRequest"
                   message="tns:updateRequest"/>
            <output wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/updateResponse"
                    message="tns:updateResponse"/>
        </operation>

        <operation name="delete">
            <input wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/deleteRequest"
                   message="tns:deleteRequest"/>
            <output wsam:Action="http://archive.soa.software.nju.edu.cn/ArchiveService/deleteResponse"
                    message="tns:deleteResponse"/>
        </operation>
    </portType>

    <binding name="ArchiveServicePortBinding" type="tns:ArchiveService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>

        <operation name="query">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="add">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="ArchiveService">
        <port name="ArchiveServicePort" binding="tns:ArchiveServicePortBinding">
            <soap:address location="http://localhost:8082/archive"/>
        </port>
    </service>

</definitions>